@page
@model BooksSystem.Pages.Book.ViewAllBooks
@{
    ViewData["Title"] = "ViewAllBooks";
}

<h2>All Books</h2>

@if (Model.BooksWithAuthors != null && Model.BooksWithAuthors.Any())
{
    <table class="table table-bordered mx-auto rounded border p-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>AuthorName</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.BooksWithAuthors)
            {
                <tr>
                    <td>@book.Book.Name</td>
                    <td>@book.AuthorName</td>
                    <td>@book.Book.Description</td>
                    @* <td>
            <a class="btn btn-primary" asp-page="./ViewBookDetails" asp-route-id="@book.Id">View</a>
            @if (!string.IsNullOrEmpty(book.FilePath))
            {
            <a class="btn btn-success" href="/uploads/@book.FilePath" download
            onclick="return showDownloadMessage()">Download</a>
            }
            </td> *@
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No books available.</p>
}